.App {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
