@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
}

a {
  color: #000000;
  text-decoration: none; /* no underline */
}
